<html>
    <head>
        <title>Sample</title>
    </head>
    <body>
        <component></component>
    </body>

    <script>
        import Component from "./component.riot";

        export default {
            components: {
                Component
            }
        };
    </script>
</html>